body{
  background: #fefefe;
}

html{
    scroll-behavior: smooth;
}

.bbb{
    box-shadow: 0 20px 30px 0 rgba(176, 70, 70, .3);
}

*{
  text-transform: capitalize;
  color: #797687;
  list-style: none;
}

.b {
  position: absolute;
    height: 10px;
    width: 10px;
    background: #bfb2ca;
    border-radius: 50%;
    left: 15%;
    top: 28%;
    animation: animationFramesLeft 30s linear infinite;
}

.a{
   position: absolute;
   left: 90px;
    top: 140px;
    animation: animationFramesRight 40s linear infinite;
}


.a.d{
  left: 50%;
    top: 25%;
        animation: animationFramesLeft 30s linear infinite;

}

@keyframes animationFramesRight{
  0% {
    transform: translate(0) rotate(0);
}
20% {
    transform: translate(73px, 1px) rotate(36deg);
}
40% {
    transform: translate(141px, 72px) rotate(72deg);
}
60% {
    transform: translate(83px, 122px) rotate(108deg);
}
80% {
    transform: translate(-40px, 72px) rotate(144deg);
}
100% {
    transform: translate(0) rotate(0);
}

}

@keyframes animationFramesLeft{
0% {
    transform: translate(0) rotate(0);
}
20% {
    transform: translate(-73px, 1px) rotate(-36deg);
}
40% {
    transform: translate(-141px, -72px) rotate(-72deg);
}
60% {
    transform: translate(-83px, -122px) rotate(-108deg);
}
80% {
    transform: translate(40px, -72px) rotate(-144deg);
}
100% {
    transform: translate(0) rotate(0);
}
}
/*  */

.left-circle-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
}

.left-circle-shape .circle-fill {
    height: 800px;
    width: 800px;
    background: #faf9ff;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -18%;
    -webkit-animation: wave 10s linear infinite;
    animation: wave 10s linear infinite;
}
@media (max-width: 1200px) {
    .left-circle-shape .circle-fill {
        height: 450px;
        width: 450px;
    }
}







@keyframes wave {
    0% {
    transform: rotate(0) translate3d(0, 3%, 0) rotate(0);
}
100% {
    transform: rotate(1turn) translate3d(0, 3%, 0) rotate(-1turn);
}
}


@media (max-width: 1200px) {
    .left-circle-shape .circle-border {
        height: 300px;
        width: 300px;
    }
}
.left-circle-shape .circle-border {
    height: 400px;
    width: 400px;
    display: block;
    border: 2px dashed #e7e7e7;
    z-index: 22;
    position: absolute;
    border-radius: 50%;
    left: 7%;
    top: 9%;
    -webkit-animation: waveRote 5s linear infinite;
    animation: waveRote 5s linear infinite;
}

@keyframes waveRote{
    0% {
    transform: rotate(0) rotate(0) translate3d(0, 1%, 0) rotate(0);
}
100% {
    transform: rotate(1turn) rotate(45deg) translate3d(0, 1%, 0) rotate(-1turn);
}
}

.p{
    line-height: 27px;
}

/*  */

.my-bg{
    background-image: linear-gradient(-60deg, #5b3d77, #683697);
}

.my-bg::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 1900px solid #fbfafd;
    border-bottom: 0 solid transparent;
}